.buttonItem:hover{
    color:purple;
}
.headerItem:hover{
    color: blue;
}
select:hover{
    color:blue;
    
}
select{
    height: 30px;
    background-color: transparent;
      font-size: 20px;
      color: black;
      border: 0px;
}
